<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eva.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.eva.pojo.Comments" >
    <id column="client_comment_id" property="clientCommentId" jdbcType="BIGINT" />
    <result column="client_id" property="clientId" jdbcType="VARCHAR" />
    <result column="comment_position" property="commentPosition" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="BIGINT" />
    <result column="comment_date" property="commentDate" jdbcType="DATE" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.eva.pojo.Comments" extends="BaseResultMap" >
    <result column="comment_content" property="commentContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    client_comment_id, client_id, comment_position, comment_id, comment_date
  </sql>
  <sql id="Blob_Column_List" >
    comment_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.eva.pojo.CommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eva.pojo.CommentsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comments
    where client_comment_id = #{clientCommentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comments
    where client_comment_id = #{clientCommentId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.eva.pojo.CommentsExample" >
    delete from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eva.pojo.Comments" >
    insert into comments (client_comment_id, client_id, comment_position, 
      comment_id, comment_date, comment_content
      )
    values (#{clientCommentId,jdbcType=BIGINT}, #{clientId,jdbcType=VARCHAR}, #{commentPosition,jdbcType=VARCHAR}, 
      #{commentId,jdbcType=BIGINT}, #{commentDate,jdbcType=DATE}, #{commentContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eva.pojo.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientCommentId != null" >
        client_comment_id,
      </if>
      <if test="clientId != null" >
        client_id,
      </if>
      <if test="commentPosition != null" >
        comment_position,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="commentDate != null" >
        comment_date,
      </if>
      <if test="commentContent != null" >
        comment_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientCommentId != null" >
        #{clientCommentId,jdbcType=BIGINT},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="commentPosition != null" >
        #{commentPosition,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="commentDate != null" >
        #{commentDate,jdbcType=DATE},
      </if>
      <if test="commentContent != null" >
        #{commentContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eva.pojo.CommentsExample" resultType="java.lang.Integer" >
    select count(*) from comments
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update comments
    <set >
      <if test="record.clientCommentId != null" >
        client_comment_id = #{record.clientCommentId,jdbcType=BIGINT},
      </if>
      <if test="record.clientId != null" >
        client_id = #{record.clientId,jdbcType=VARCHAR},
      </if>
      <if test="record.commentPosition != null" >
        comment_position = #{record.commentPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.commentId != null" >
        comment_id = #{record.commentId,jdbcType=BIGINT},
      </if>
      <if test="record.commentDate != null" >
        comment_date = #{record.commentDate,jdbcType=DATE},
      </if>
      <if test="record.commentContent != null" >
        comment_content = #{record.commentContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update comments
    set client_comment_id = #{record.clientCommentId,jdbcType=BIGINT},
      client_id = #{record.clientId,jdbcType=VARCHAR},
      comment_position = #{record.commentPosition,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      comment_date = #{record.commentDate,jdbcType=DATE},
      comment_content = #{record.commentContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update comments
    set client_comment_id = #{record.clientCommentId,jdbcType=BIGINT},
      client_id = #{record.clientId,jdbcType=VARCHAR},
      comment_position = #{record.commentPosition,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=BIGINT},
      comment_date = #{record.commentDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eva.pojo.Comments" >
    update comments
    <set >
      <if test="clientId != null" >
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="commentPosition != null" >
        comment_position = #{commentPosition,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="commentDate != null" >
        comment_date = #{commentDate,jdbcType=DATE},
      </if>
      <if test="commentContent != null" >
        comment_content = #{commentContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where client_comment_id = #{clientCommentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.eva.pojo.Comments" >
    update comments
    set client_id = #{clientId,jdbcType=VARCHAR},
      comment_position = #{commentPosition,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=BIGINT},
      comment_date = #{commentDate,jdbcType=DATE},
      comment_content = #{commentContent,jdbcType=LONGVARCHAR}
    where client_comment_id = #{clientCommentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eva.pojo.Comments" >
    update comments
    set client_id = #{clientId,jdbcType=VARCHAR},
      comment_position = #{commentPosition,jdbcType=VARCHAR},
      comment_id = #{commentId,jdbcType=BIGINT},
      comment_date = #{commentDate,jdbcType=DATE}
    where client_comment_id = #{clientCommentId,jdbcType=BIGINT}
  </update>
</mapper>